<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199211633767-6nlap7k2chabn0tc53aa2kcgi8bf9jjn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199211633767-6nlap7k2chabn0tc53aa2kcgi8bf9jjn</string>
	<key>API_KEY</key>
	<string>AIzaSyCL-C_n0FkoZjD8w6HKseMefW6_wkbHK-w</string>
	<key>GCM_SENDER_ID</key>
	<string>199211633767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.hiro</string>
	<key>PROJECT_ID</key>
	<string>hiro-d60ce</string>
	<key>STORAGE_BUCKET</key>
	<string>hiro-d60ce.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199211633767:ios:10d73004c0245f565698c2</string>
</dict>
</plist>